{% extends "FreeBetUIBundle::layout.html.twig" %}

{% block title %}{{ 'account.title'|trans }}{% endblock %}

{% block content %}
<div class="content" id="profile">
    <h1>{{ 'account.title'|trans }}</h1>

    {% for flashMessage in app.session.flashbag.get('user-success') %}
        <div class="alert flat-alert alert-success">{{ flashMessage }}</div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('fos_user_success') %}
        <div class="alert flat-alert alert-success">{{ flashMessage|trans }}</div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('user-error') %}
        <div class="alert flat-alert alert-danger">{{ flashMessage }}</div>
    {% endfor %}

    <div class="well well-lg">
        <div class="pull-right">
            <a href="{{ path('fos_user_change_password') }}" class="btn btn-primary">{{ 'account.password.modify'|trans }}</a>
            <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary">{{ 'account.profile.edit'|trans }}</a>
        </div>
        <div  class="clearfix">
            {#
            <div class="pull-left">
                <img data-src="holder.js/140x140" class="img-thumbnail" alt="140x140" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" />
            </div>
            #}
            <h2>{{ 'account.info'|trans }}</h2>
            <div class="info">
                <p><label>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}:</label> {{ user.username }}</p>
                <p><label>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}:</label> {{ user.email }}</p>
                <p><label>{{ 'account.member_since'|trans({}) }}:</label> {{ user.email }}</p>
            </div>
        </div>
    </div>

    {#
    <div class="well well-lg">
        <div class="pull-right">
            <a href="{{ path('user_account_select_group') }}" class="btn btn-primary">{{ 'account.organization.select'|trans }}</a>
            <a href="{{ path('user_account_create_group') }}" class="btn btn-danger">{{ 'account.organization.create'|trans }}</a>
            {% if user.isManager %}
                <a href="{{ path('user_organization_manage') }}" class="btn btn-danger">{{ 'account.organization.manage'|trans }}</a>
            {% endif %}
        </div>
        <h2>{{ 'account.organization.info'|trans }}</h2>
        {% if user.organization %}
            <div class="info">
                <p><label>{{ 'account.organization.name'|trans }}:</label> {{ user.organization.name }}</p>
            </div>
            <p>{{ 'account.organization.join_date'|trans }}</p>
        {% else %}
            <p>{{ 'account.organization.none'|trans }}</p>
        {% endif %}
    </div>
    #}
</div>
{% endblock %}