{% extends "FreeBetUserBundle::layout.html.twig" %}

{% block htmlclass %} class="bg-black"{% endblock %}
{% block bodyclass %}bg-black{% endblock %}

{% block title %}{{ 'registration.title'|trans({}, 'security') }}{% endblock %}

{% form_theme form _self %}

{% block form_widget_compound %}
{% spaceless %}
    <div class="body bg-gray">
        {% if form.parent is empty %}
            {{ form_errors(form) }}
        {% endif %}
        {{ block('form_rows') }}
        {{ form_rest(form) }}
    </div>
{% endspaceless %}
{% endblock form_widget_compound %}

{% block form_row %}
{% spaceless %}
    <div class="form-group">
        {{ form_errors(form) }}
        {{ form_widget(form, { 'attr': {'class': 'form-control', 'placeholder': form.vars.label|trans({},'security') } }) }}
    </div>
{% endspaceless %}
{% endblock %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <div class="alert flat-alert alert-danger">
        {% for error in errors %}
            <p>{{ error.message }}</p>
        {% endfor %}
    </div>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block body %}
<div class="form-box" id="login-box">
    <div class="header">{{ 'registration.title'|trans({}, 'security') }}</div>
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="post">

        {{ form_widget(form) }}

        <div class="footer">
            <button type="submit" class="btn bg-olive btn-block">{{ 'registration.submit'|trans({}, 'security') }}</button>
            <a href="{{ path('fos_user_security_login') }}" class="text-center">{{ 'registration.has_account'|trans({}, 'security') }}</a>
        </div>
    </form>
</div>
{% endblock %}
