{% extends '::base.html.twig' %}

{% block body %}
    <h1>{{ competition.name }}</h1>
    <a href="{{ url("competition_list") }}">Back</a><br />
    <a href="{{ url("competition_events", {slug:competition.slug}) }}">Events list</a><br />

    {% set groupList = range('A', 'H') %}
    {% for group in groupList %}
        {{ render(controller('FreeBetSoccerWorldCupBundle:Group:matchListInGroup', {
                events: events,
                group: group
        })) }}

        {{ render(controller('FreeBetSoccerWorldCupBundle:Group:result', {
                events: events,
                group: group
        })) }}
    {% endfor %}

    {% set phaseList = ['sixteen','quarter','semi','playoff','final'] %}
    {% for phase in phaseList %}
        {{ render(controller('FreeBetSoccerWorldCupBundle:Group:matchListInPhase', {
                events: events,
                phase: phase
        })) }}
    {% endfor %}
{% endblock %}