{% extends "BettingSasUIBundle::layout.html.twig" %}

{% block content %}
<div class="count">
    {{ pagination.getTotalItemCount }}
</div>

<ul>
    {% for gamble in pagination %}
        <li>
            {% for bet in gamble.bets %}
                {{ bet.event.name }}
                {% if not loop.last %}, {% endif %}
            {% endfor %}
            <ul>
                {% for bet in gamble.bets %}
                    <li>{{ bet.event.type }}, {{ bet.event.name }}, {{ gamble.created|date('Y-m-d H:i:s') }}, {{ bet.type }}</li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
{% endblock %}