<div id="group-{{ group }}" class="group-match-list">
    <h2>{{ 'soccer_group_name'|trans({'%group%': group}, "soccer")  }}</h2>
    <ul>
        {% for event in events %}
        <li>
            <a href="{{ url('match_edit', {slugCompetition: event.competition.slug, slugMatch: event.slug}) }}">
                {{ event.date|date('Y-m-d H:i:s') }} : 
                {{ event.leftName }} {% include 'BettingSasSoccerWorldCupBundle:Match:_score.html.twig' with {match: event} %} {{ event.rightName }}
            </a></li>
        {% endfor %}
    </ul>
</div>