<div id="phase-{{ phase }}" class="phase-match-list">
    <h2>{{ ('soccer_phase_'~phase)|trans({}, "soccer")  }}</h2>
    <ul>
        {% for event in events %}
        <li>
            {{ event.date|date('Y-m-d H:i:s') }} :
            {{ event.leftName|trans }} {% include 'BettingSasSoccerWorldCupBundle:Match:_score.html.twig' with {match: event} %} {{ event.rightName|trans }}
            <a href="{{ url('event_set_result', {id: event.id}) }}">
                {{ 'set_result'|trans }}
            </a>
            <a href="{{ url('match_bet', {slugCompetition: event.competition.slug, slugMatch: event.slug}) }}">
                {{ 'bet'|trans }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>