<div id="group-{{ group }}" class="group-match-list">
    <h2>{{ 'soccer_group_name'|trans({'%group%': group}, "soccer")  }}</h2>
    <ul>
        {% for event in events %}
        <li>
            {{ event.date|date('Y-m-d H:i:s') }} : 
            {{ event.leftName }} {% include 'BettingSasSoccerWorldCupBundle:Match:_score.html.twig' with {match: event} %} {{ event.rightName }}
            <a href="{{ url('event_set_result', {id: event.id}) }}">
                {{ 'set_result'|trans }}
            </a>
            <a href="{{ url('match_bet', {slugCompetition: event.competition.slug, slugMatch: event.slug}) }}">
                {{ 'bet'|trans }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>