{% extends "FreeBetUIBundle::layout.html.twig" %}

{% form_theme form 'FreeBetUIBundle:Form:form.html.twig' %}

{% block title %}{{ 'fos_user_change_password.title'|trans({}, 'FOSUserBundle') }}{% endblock %}

{% block content %}
<div class="content">
    <h1>{{ 'fos_user_change_password.title'|trans({}, 'FOSUserBundle') }}</h1>

    <div class="box box-success">
        <!-- form start -->
        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" role="form">
            <div class="box-body">
                {{ form_widget(form) }}
            </div>

            <div class="box-footer">
                <button type="submit" class="btn btn-primary">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
                <a href="{{ path('fos_user_profile_show') }}" class="btn btn-default">{{ 'general.back'|trans }}</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}