{% extends "BettingSasUIBundle::layout.html.twig" %}

{% block title %}{{ 'organization.manage.title'|trans({'%name%':organization.name}) }}{% endblock %}

{% block content %}
<div class="content">
    <h1>{{ 'organization.manage.title'|trans({'%name%':organization.name}) }}</h1>

    <div class="box box-success">
        <div class="box-header">
            <h3 class="box-title">{{ 'organization.item.count'|transchoice(pagination.getTotalItemCount, {'%count%': pagination.getTotalItemCount}) }}</h3>
        </div>
        <div class="box-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(pagination, 'Username', 'username') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'lastLogin', 'lastLogin') }}</th>
                        <th>{{ 'action'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in pagination %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.lastLogin|date('Y-m-d H:m:s') }}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="box-footer clearfix">
            <a href="{{ path('fos_user_profile_show') }}" class="btn btn-default">{{ 'general.back'|trans }}</a>
            <div class="pull-right">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}