{% extends "BettingSasUIBundle::layout.html.twig" %}

{% form_theme form 'BettingSasUIBundle:Form:form.html.twig' %}

{% block title %}{{ 'organization.new.title'|trans }}{% endblock %}

{% block content %}
<div class="content">
    <h1>{{ 'organization.new.title'|trans }}</h1>

    <div class="box box-success">
        <!-- form start -->
        <form action="{{ path('user_account_create_group') }}" {{ form_enctype(form) }} method="POST" role="form">
            <div class="box-body">
                {% if app.user.organization %}
                    <div class="alert flat-alert alert-warning">{{ 'organization.new.has_organization_warning'|trans }}</div>
                {% else %}
                    <div class="alert flat-alert alert-info">{{ 'organization.new.new_organization_info'|trans }}</div>
                {% endif %}

                {{ form_widget(form) }}
            </div>

            <div class="box-footer">
                <button type="submit" class="btn btn-primary">{{ 'organization.new.create'|trans }}</button>
                <a href="{{ path('fos_user_profile_show') }}" class="btn btn-default">{{ 'general.back'|trans }}</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}