<div class="menu-title">{{ 'competition.menu.title'|trans }}</div>
<ul class="sidebar-menu">
    {% set slugCompetition = '' %}
    {% if main_request_route_param.slugCompetition is defined %}
        {% set slugCompetition = main_request_route_param.slugCompetition %}
    {% elseif main_request_route_param.slug is defined %}
        {% set slugCompetition = main_request_route_param.slug %}
    {% endif %}
    {% for competition in competitions %}
        <li {% if slugCompetition == competition.slug %}class="active"{% endif %}>
            <a href="{{ path('competition_detail', {slug: competition.slug}) }}">
                {% if competition.subType %}
                    <i class="event event-{{ competition.subType }}"></i>
                {% else %}
                    <i class="fa fa-{{ competition.type }}"></i>
                {% endif %}
                <span>{{ competition.name }}</span>
            </a>
        </li>
    {% endfor %}
</ul>